<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERP Trust</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/custom.min.css" rel="stylesheet" />
    <link href="~/css/Focus.css" rel="stylesheet" />
</head>
<body style="background-image:url('/images/BackImage.png');
             background-size:cover;background-repeat:no-repeat">
    @RenderBody()
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>